{% extends 'base.html.twig' %}

{% block titulo %} Portada {{ parent() }} {% endblock %}

{% block main %}
<h1>ÚLTIMOS BIBLIO-CODES</h1>

<br>
<a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
    <span>Login with Google</span>
{% endblock %}

