{% extends 'base.html.twig' %}
{% block titulo %} Tutoriales {{ parent() }} {% endblock %}
{% block main %}
<div class="container-fluid px-4">
    <table id="tablaTutorial" class="table table-striped table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Lenguaje</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tfoot  class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Lenguaje</th>
                    <th>URL</th>
                </tr>
            </tfoot>
        </table>
</div>
{% endblock %}
{% block javascripts %}
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/datatables/datatables.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="js/jquery.dataTables.min.css"></script>
<script>
$('document').ready(function() {
    $('#tablaTutorial').DataTable({
        "ajax": '/jsonTutoriales',
        "language": {
            "decimal": ".",
            "emptyTable": "No hay datos para mostrar",
            "info": "del _START_ al _END_ (_TOTAL_ total)",
            "infoEmpty": "del 0 al 0 (0 total)",
            "infoFiltered": "(filtrado del todas las _MAX_ entradas)",
            "infoPostFix": "",
            "thousands": "'",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "No hay resultados",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordenar de manera Ascendente",
                "sortDescending": ": ordenar de manera Descendente",
            }
        }
    });
});
</script>
{% endblock %}