{% extends 'base.html.twig' %}

{% block titulo %} Portada {{ parent() }} {% endblock %}

{% block main %}

<h1>{{ tutorial.titulo }} - BiblioCode Nº {{ tutorial.id }}</h1>
<br>
<textarea class="rounded-3" id="textarea" rows="10">{{tutorial.codigo}}</textarea>
<br>
{% endblock %}